.container{
    margin-bottom: 50px;
}
.buy-now-button{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}
#banner p{
    color: grey;
}
.see-all{
    color: orange;
}
.catagory{
    position: relative;
    margin-bottom: 50px;
}
.catagory::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 12px;
    height: 12px;
    background-color: orange;
    width: 80%;
    border-radius: 8px;
}
.border-img{
    /* border: 2px solid black;
   
    border-radius: 8px;
    box-shadow: black; */
    border: none;
    padding: 25px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px lightgrey;
    margin-top: 40px;
}